
<div class="row justify-content-center login-component">
    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
        <form name="login-form" (ngSubmit)="f.form.valid && onLogIn()" #f="ngForm" class="login-component_form card card-box" novalidate autocomplete="off">
            <div class="login-component_form-field">
                <h2>{{companyName}} Login</h2>
            </div>

            <mat-form-field class="login-component_form-field" [hideRequiredMarker]="true">
                <input matInput type="text" placeholder="Username" [(ngModel)]="model.username" required name="username"/>
                <mat-error *ngIf="f.submitted && !model.username">
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="login-component_form-field" [hideRequiredMarker]="true">
                <input matInput type="password" placeholder="Password" [(ngModel)]="model.password" required name="password"/>
                <mat-error *ngIf="f.submitted && !model.password">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div class="login-component_form-button row">
                <div class="col-7 col-sm-7 col-md-9 col-lg-9">
                    <button mat-raised-button [disabled]="loading" color="primary" class="login-btn width-100">
                        <mat-spinner [hidden]="!loading" class="loading-btn" [diameter]="25"></mat-spinner>
                        <span [hidden]="loading">Login</span>
                    </button>
                </div>
                <div class="col-5 col-sm-5 col-md-3 col-lg-3">
                    <a href="javascript:void(0);" [disabled]="!isOnline || syncing" mat-raised-button (click)="(isOnline && !syncing) && onSync()" class="sync-btn width-100">
                        <mat-spinner [hidden]="!syncing" class="loading-btn" [diameter]="25"></mat-spinner>
                        <span [hidden]="syncing">Sync</span>
                    </a>
                </div>
            </div>  
        </form>
    </div>
</div>