@import 'variables';

.app-component {
    height:100%;
    .alert-container {
        position: relative;
        display: block;
    }
    .side-nav {
        padding: $base-padding;
        min-width: 200px;
    }
} 