<div class="app-component app-theme" *ngIf="appActive">
    <div class="" *ngIf="configError">
        <div class="config-error-container">
            <p>PLEASE UPLOAD YOUR CONFIG FILE</p>
        </div>
    </div>
    <mat-sidenav-container *ngIf="!configError">
        <mat-sidenav class="side-nav" #sidenav>
            MENU BAR
        </mat-sidenav>
               
        <toolbar [sidenavRef]="sidenav"></toolbar>
        <div class="container-fluid">
            <alert class="alert-container"></alert>
            <div class="router-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>
</div>
