@import 'variables';
@import 'cgg-bootstrap';

.cgg-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cgg-bold{
  font-weight: 600
}

.cgg-padding-0{
  padding: 0px;
}

.cgg-side-container{
  background: #fff;
  color: $black;
  -webkit-box-shadow: 5px 5px 0 1px $border-grey;
  -moz-box-shadow: 5px 5px 0 1px $border-grey;
  box-shadow: 5px 5px 0 1px $border-grey;
}

.cgg-component-container{
  margin: 0px 0px 15px 0px;
}

@include media(display-md) {
  .cgg-clear{
    clear: both;
  }

  .cgg-component-50{
    width: 50%;
    float: left;
    &:after{
      clear: both;
    }
    &.first{
      padding: 0px 7.5px 0px 0px;
    }
    &.second{
      padding: 0px 0px 0px 7.5px;
    }
  }

  .cgg-component-33{
    width: 33.33%;
    float: left;
    &:after{
      clear: both;
    }
    &.first{
      padding: 0px 7.5px 0px 0px;
    }
    &.second{
      padding: 0px 7.5px 0px 7.5px;
    }
    &.third{
      padding: 0px 0px 0px 7.5px;
    }
  }

  .cgg-component-25{
    width: 25%;
    float: left;
    &:after{
      clear: both;
    }
    &.first{
      padding: 0px 7.5px 0px 0px;
    }
    &.second{
      padding: 0px 7.5 0px 7.5px;
    }
    &.third{
      padding: 0px 7.5 0px 7.5px;
    }
    &.fourth{
      padding: 0px 0px 0px 7.5px;
    }
  }
}

.cgg-error{
  .cgg-dropdown,
  .cgg-select,
  .cgg-input{
    transition: 0.3s all;
    border-bottom: 1px solid $red !important;
    @include media(display-sm) {
      border: 1px solid $red !important;
    }
    @include media(display-md) {
      border: 1px solid $red !important;
    }
  }
  .cgg-checkbox{
    transition: 0.3s all;
    border: 1px solid $red !important;
  }
}

.cgg-input-group{
  position: relative;
  .cgg-input{
    padding: 0px;
    display: block;
    border: none;
    border-bottom: 1px solid $grey;
    height: 30px;
    background: $light-grey;
    border-radius: 0px;
    width: 100%;
    -webkit-appearance: none;
    @include media(display-sm) {
      padding: 10px;
      background: #fff;
      border-radius: 3px;
      height: 50px;
      border: 1px solid $border-grey;
    }
    @include media(display-md) {
      padding: 10px;
      background: #fff;
      border-radius: 3px;
      height: 50px;
      border: 1px solid $border-grey;
    }
    &:focus{
      outline: none;
      border: none;
      border-bottom: 1px solid $green;
      transition: 0.3s all;
      @include media(display-sm) {
        outline: none;
        border: 1px solid $green;
      }
      @include media(display-md) {
        outline: none;
        border: 1px solid $green;
      }
    }
  }
}

.cgg-dropdown-group{
  position: relative;
  &:after {
    content:'< >';
    font-size: 15px;
    color:$grey;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right: 0px;
    top: 0px;
    padding: 0px 0px 10px 0px;
    position:absolute;
    pointer-events:none;
    @include media(display-sm) {
      top: 8px;
      right: 10px;
      border-bottom: 1px solid $border-grey;
      padding: 0px 10px 12px 10px;
    }
    @include media(display-md) {
      top: 8px;
      right: 10px;
      border-bottom: 1px solid $border-grey;
      padding: 0px 10px 12px 10px;
    }
  }
  .cgg-dropdown{
    padding: 0px;
    display: block;
    border: none;
    border-bottom: 1px solid $grey;
    height: 30px;
    background: $light-grey;
    border-radius: 0px;
    width: 100%;
    cursor:pointer;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    @include media(display-sm) {
      padding: 10px;
      background: #fff;
      border-radius: 3px;
      height: 50px;
      border: 1px solid $border-grey;
    }
    @include media(display-md) {
      padding: 10px;
      background: #fff;
      border-radius: 3px;
      height: 50px;
      border: 1px solid $border-grey;
    }
    &:focus{
      outline: none;
      border: none;
      border-bottom: 1px solid $green;
      transition: 0.3s all;
      @include media(display-md) {
        outline: none;
        border: 1px solid $green;
      }
    }
  }
}

.cgg-tile-group{
  input{
      display: none;
  }
  input:checked+label{ 
      border: 1px solid $light-green;
      -webkit-box-shadow: inset 0 -5px 0 0 $light-green;
      -moz-box-shadow: inset 0 -5px 0 0 $light-green;
      box-shadow: inset 0 -5px 0 0 $light-green; 
      background: $green;
      color: #fff;
  } 
  .cgg-tile{
      background: #fff;
      height: 150px;
      text-align: center;
      border-radius: 3px;
      border: 1px solid $border-grey;
      -webkit-box-shadow: inset 0 -5px 0 0 $border-grey;
      -moz-box-shadow: inset 0 -5px 0 0 $border-grey;
      box-shadow: inset 0 -5px 0 0 $border-grey;
      display: block;
      margin: 0px 0px 15px 0px;
      cursor: pointer;
      @include media(display-sm) {
        height: 125px;
        &:hover,
        &:active{   
            border: 1px solid $light-green;
            -webkit-box-shadow: inset 0 -5px 0 0 $light-green;
            -moz-box-shadow: inset 0 -5px 0 0 $light-green;
            box-shadow: inset 0 -5px 0 0 $light-green;
            background: $green;
            color: #fff;
            transition: 0.3s all;
        }
      }
      @include media(display-md) {
        &:hover,
        &:active{   
            border: 1px solid $light-green;
            -webkit-box-shadow: inset 0 -5px 0 0 $light-green;
            -moz-box-shadow: inset 0 -5px 0 0 $light-green;
            box-shadow: inset 0 -5px 0 0 $light-green;
            background: $green;
            color: #fff;
            transition: 0.3s all;
        }
      }
      .cgg-tile-text{
        position: relative;
        top: 30px;
        margin: 0px;
        padding: 0px 5px;
        @include media(display-sm) {
          top: 15px;
        }
        .name{
          display: block;
          &.name-only{
            top: 30px;
            position: relative;
          }
        }
        .icon{
          display: block;
          font-size: 50px;
        }
        .image{
          display: block;
          max-width: 100%;
          height: 60px;
          margin: 10px auto;
          @include media(display-sm) {
            height: 45px;
            margin: 15px auto;
          }
        }
      }
  }
}

.cgg-select-group{
  &:before,
  &:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
  input{
      display: none;
  }
  input:checked+label{ 
      border: 1px solid $light-green;
      -webkit-box-shadow: inset 0 -5px 0 0 $light-green;
      -moz-box-shadow: inset 0 -5px 0 0 $light-green;
      box-shadow: inset 0 -5px 0 0 $light-green; 
      background: $green;
      color: #fff;
  } 
  .cgg-select{
      background: #fff;
      height: 40px;
      text-align: center;
      border: 1px solid $border-grey;
      -webkit-box-shadow: inset 0 -5px 0 0 $border-grey;
      -moz-box-shadow: inset 0 -5px 0 0 $border-grey;
      box-shadow: inset 0 -5px 0 0 $border-grey;
      display: block;
      cursor: pointer;
      width: 100%;
      line-height: 35px;
      font-weight: 600;
      &:hover,
      &:active{   
          border: 1px solid $light-green;
          -webkit-box-shadow: inset 0 -5px 0 0 $light-green;
          -moz-box-shadow: inset 0 -5px 0 0 $light-green;
          box-shadow: inset 0 -5px 0 0 $light-green;
          background: $green;
          color: #fff;
          transition: 0.3s all;
      }
      @include media(display-sm) {
        height: 60px;
        line-height: 55px;
      }
      @include media(display-md) {
        height: 60px;
        line-height: 55px;
      }
  }
}

.cgg-checkbox-group{
  position: relative;
  .cgg-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: left;
    background: #fff;
    border: 1px solid $green;
    &:after {
      content: '';
      width: 12px;
      height: 6px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid $green;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
    &__text{
      padding: 0px 0px 0px 30px;
      cursor: pointer;
      display: block;
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked + .cgg-checkbox:after {
      opacity: 1;
    }    
  }
}