@import 'variables';
@import 'bootstrap-reboot';
@import 'bootstrap-grid';

@import 'app-material';

$app-theme-primary: mat-palette($mat-blue, 700, 300, 900);
$app-theme-accent: mat-palette($mat-cyan);
$app-theme-warn: mat-palette($mat-deep-orange, A200);

$app-theme: mat-light-theme(
    $app-theme-primary,
    $app-theme-accent,
    $app-theme-warn
);

@include mat-core();

.app-theme {
    @include angular-material-theme($app-theme);
    .loading-btn {
        margin: auto;
        circle{
            stroke: $white;
        }
    }

    .mat-drawer-container {
        height: 100%;
    }

    .mat-tab-label:focus {
        background-color: transparent !important;
    }

    .mat-progress-spinner {
        display: inline-block;
    }
}


.mat-datepicker-content {
    background-color: $white;
    color: $black;
    .mat-button, 
    .mat-icon-button {
        background: transparent;
        &:hover,
        &:focus,
        &:active {
            outline: none;
        }
    }
    .mat-calendar-body-cell-content {
        border-color: transparent;
    }
    .mat-calendar-body-selected {
        border-color: $grey;
        background: $light-grey;
    }
    .mat-calendar-body-disabled {
        color: $grey;
    }
    .mat-calendar-table-header tr:nth-child(2) .mat-calendar-table-header-divider {
        border-bottom: 1px solid $black;
    }
    .mat-calendar-body-cell-content:hover {
        background: $light-grey;
    }
}

.mat-tab-body-content {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.toolbar-component_user-menu {
    background: $white;
    .mat-menu-item {
        text-decoration: none;
        color: $black;
        .mat-icon {
            top: 7px;
            position: relative;
            vertical-align: initial;
        }
        &:hover,
        &:active {
            color: $blue;
        }
    }
}


.width-100 {
    width: 100%;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.bold {
    font-weight: 600;
}

.small {
    font-size: 0.8em;
}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    background: $light-grey;
    border-radius: 2px;
    padding: 2.5em;
}

.card-box {
    @extend .shadow-1;
    &:hover {
        @extend .shadow-2;
    }
}
