<div class="row justify-content-center align-items-center pagenotfoud-component">
    <div class="col-12 col-sm-12 col-md-8 col-lg-7">
        <div class="card">
          <p class="bold">PAGE NOT FOUND :(</p>
          <p class="small">sweet roll wafer cake jelly beans. Jujubes wafer brownie chocolate cake chocolate bar cake cake wafer biscuit. pie candy muffin bear claw candy canes biscuit tart tart candy. </p>
          <a href="javascript:void(0);" [routerLink]="['/']" mat-raised-button class="back-btn">GO TO HOMEPAGE</a>
        </div>
    </div>
</div>
